.container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue{
    color: white;
    background-color: rgb(42, 15, 196);
    padding: 20px;
    border-radius: 7%;
    width: 270px;
    height: 400px;
    text-align: center;
}
.white{
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 7%;
    width: 270px;
    height: 400px;
    
}


.reaction{
    margin-top : 15px;
    color: rgb(236, 97, 97);
    background-color: rgb(208, 148, 148);
    border-radius: 0.5rem;
    padding: 8px;
}
.memory{
    margin-top : 15px;
    color:orange;
    background-color: rgb(222, 212, 168);
    border-radius: 0.5rem;
    padding: 8px;
}
.verbal{
    margin-top : 15px;
    color: rgb(47, 123, 47);
    background-color: rgb(180, 221, 180);
    border-radius: 0.5rem;
    padding: 8px;
}
.visual{
    margin-top : 15px;
    color: rgb(86, 33, 135);
    background-color: rgb(198, 171, 224);
    border-radius: 0.5rem;
    padding: 8px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.circle{
    background-color: rgb(8, 19, 174);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    padding-top: 15px;
}
.centerc{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
}
/* Mobile view */
@media screen and (max-width: 767px) {
    .container {
      position: relative;
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;  
    }
  
    .child {
      width: 100%; /* Make grid child take full width */
      margin-bottom: 20px; /* Add some space between grid items */
    }
  
    .blue, .white {
      width: 100%; /* Make the cards take full width on mobile */
    }
    .attribution {
      font-size: 11px;
      text-align: center;
      position: fixed;
      bottom: 10px;
      width: 100%;
  }
    body{
      display: flex; 
      justify-content: center;
      align-items: center;
    
  }
  .centerc{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  }
  
  /* Desktop view */
  @media screen and (min-width: 768px) {
    .container {
      position: relative;
      display: flex; 
      justify-content: center;
      align-items: center;
      
    }
    .attribution {
      font-size: 11px;
      text-align: center;
      position: fixed;
      bottom: 10px;
      width: 100%;
  }
    
  }
